#title {
    border: 1px;
    border-color: black;
}

div#input {
    border: 1px;
}

div#output {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #268300;
    width:200px;
    text-align: center;
}