div#error {
    display: "none";
    margin: 10px;
    color: crimson;
    font-weight: bold;
}

div#output {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #268300;
    width:200px;
    text-align: center;
}

@media(max-width:800px){
    form {
        width: fit-content;
        margin:0px auto;
    }
    div#output {
        width:200px;
        margin: auto;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: #268300;
        text-align: center;
    }
}
